h1 {
    border-bottom-style:inset ;
}
.entre-letras {
    letter-spacing: o.5em;
}
.alinha-direita {
    text-align: right;
}
a {
    text-align: center;
}
img{
    width: 500px;
    height: 400px;
}
.italico{
    font-style: italic;
    font-size: small;
}
.defaut{
    width: normal;
    height: normal;
}
footer{
    font-style: italic;
    text-align: center;
    color: rgb(169, 21, 154);
}
.ocultar{
    display: none;
}
.citação{
    text-align: right;
}
